{% extends "base_generic.html" %}

{% block content %}
    <h3>All Borrowed Books</h3>

    {% if perms.catalog.can_mark_returned %}

      {% if bookinstance_list %}

        <table class="table mt-4 ">
          <tbody class="border-bottom">
            {% for bookinst in bookinstance_list %}
              <tr>
                <td>
                  <li class="m-2 {% if bookinst.is_overdue %}text-danger{% endif %}">
                  <a href="{{ book.get_absolute_url }}"</a>{{ bookinst.book.title }} <small>({{ bookinst.due_back }}) - {{ bookinst.borrower }}</small>
                  <div class="col-md-4">
                  </div>
                </li>
                </td>
                 {% if user.is_authenticated %}
                    {% if perms.catalog.can_mark_returned %}
                      {% for copy in book.bookinstance_set.all %}
                        <td><a href="{% url 'renew-book-librarian' copy.id %}" class="btn btn-sm btn-success mt-1">Renew</a></td>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>There are no books borrowed.</p>
        {% endif %}  
      {% endif %}     
  {% endblock %}